<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>{{titolo_modifica}}</h1>
    <p>Nome:</p>
    <input type="text" name="input_nome">
    <p>Cognome:</p>
    <input type="text" name="input_cognome">
    <p>Scuola:</p>
    <input type="text" name="input_scuola">
    <p>Hobby:</p>
    <input type="text" name="input_hobby"><br><br>
    <button href="{{url_for('change')}}">Salva</button><br><br>

    <a href="{{url_for('home')}}">Torna al profilo</a>
</body>

</html>